@page "/admin/forgot-password"
@model Tent.Pages.Admin.ForgotPasswordModel

@if (Model.Message.IsSet()) {
<p>@Model.Message</p>
}

<p>Did you forget your password?</p>
<p>
  Send a link to reset your password to your email.
</p>
<form method="post">
  <label for="email">Email</label>
  <input type="email" name="email">
  <br>
  <input type="submit" name="send" value="Send Link">
</form>