@page
@model Tent.Pages.admin.LoginModel
@functions{
    public async Task<IActionResult> OnPostAsync() {return Page();}
}

<form method="post">
    @Html.ValidationSummary()

    <input asp-for="Login.Email" />
    <span asp-validation-for="Login.Email" class="text-danger"></span>
    <br>

    <input type="password" placeholder="Password" asp-for="Login.Password" />
    <br>
    <span asp-validation-for="Login.Password"></span>
    <br>

    <input type="submit" value="Login" />
</form>