@page
@model Tent.Pages.Admin.ResetPasswordModel

<form method="post">
   @if (Model.ErrorMessage.IsSet()) {
   <p>@Model.ErrorMessage</p>
   }
   <input type="text" name="email">
   <input type="submit" value="Reset Password">
   @if (Model.NewPassword.IsSet()) {
      <p>New Password: @Model.NewPassword</p>
   }
</form>