@page
@model Tent.Pages.blog.IndexModel

<h1>Posts</h1>
<hr>
@foreach(var post in @Model.Posts) {
    <h2>
        <a href="/blog/post?id=@post.Id">
            @post.Title
        </a>
    </h2>
    <p>@post.PublishDate.ToString("M/d/yyyy")</p>
    @Html.Raw(post.Body)
    <hr>
}