@page
@model Tent.Pages.blog.IndexModel

<h1>Posts</h1>
<hr>
@foreach(var post in @Model.Posts) {
    <h2>
        <a href="/blog/post/@post.Slug">
            @post.Title
        </a>
    </h2>
    <p>@post.PublishDate.ToString("M/d/yyyy")</p>
    <div class="post">
        @Html.Raw(post.Body)
    </div>
    <hr>
}