@page "{slug?}"
@model Tent.Wiki.WikiPageModel
@{
    ViewData["Title"] = Model.Entry?.Title;
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>@Model.Entry?.Title</h2>
@Model.Entry?.Body
<p>
    @Model.Entry?.PublishDate.ToString("M/d/yy")
</p>
